.photo-slider-container {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  z-index: 2001;
  top: 0;
  left: 0;
  width: 100%;
}

.photo-slider-container::before {
  content: '';
  background-color: rgba(15, 14, 16, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  /* z-index: 2000;

}

.photo-slider_arrow-container {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
  z-index: 21;
  /* cursor: pointer; */
}

.photo-slider_img-container {
  z-index: 2001;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-5%);
}

.photo-slider_arrow {
  position: absolute;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  z-index: 2002;
  cursor: pointer;
}
.photo-slider_arrow-right {
  right: 0;
  justify-content: end;
}
.photo-slider_arrow-right_svg-container {
  width: 15%;
  height: 3rem;
  background-image: linear-gradient(-90deg, rgb(0, 0, 0, 0.05), transparent);
}
.photo-slider_arrow-right:hover .photo-slider_arrow-right_svg-container {
  background-image: linear-gradient(
    -90deg,
    rgba(121, 121, 121, 0.3),
    transparent
  );
}

.photo-slider_arrow-left {
  left: 0;
  justify-content: start;
}
.photo-slider_arrow-left_svg-container {
  width: 15%;
  height: 3rem;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.05), transparent);
}
.photo-slider_arrow-left:hover .photo-slider_arrow-left_svg-container {
  background-image: linear-gradient(
    90deg,
    rgba(121, 121, 121, 0.3),
    transparent
  );
}

/* close button */
.photo-slider_close-button {
  position: fixed;
  top: 0;
  right: 0;
  margin: 1rem;
  padding: 0.1rem;
  cursor: pointer;
  background: rgb(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 2003;

  border: none;
  transition: all 0.2s;
}

.photo-slider_close-button:hover {
  scale: 1.1;
  background: rgb(0, 0, 0, 0.3);
  background: rgba(100, 100, 100, 0.3);
}

.photo-slider_close-button:active {
  background: rgba(150, 150, 150, 0.3);
}

.photo-slider_img-warper {
}
/* .photo-slider_img-warper::after {
  scale: 1.1;
  content: '';
  background-color: rgba(255, 255, 255, 0.01);
  position: absolute;

  height: 100%;
  width:  85%;
  backdrop-filter: blur(50px);
  clip-path: polygon(
    evenodd,
    0 0,
    100% 0,
    100% 100%,
    0 100%,
    0 0,
    2rem 2rem,
    calc(100% - 2rem) 2rem,
    calc(100% - 2rem) calc(100% - 2rem),
    2rem calc(100% - 2rem),
    2rem 2rem
  );
} */
