@import 'tailwindcss';
@layer base {
}
@layer utilities {
  html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* background-color: #26292c;
    background-color: #292c30; */
    background-color: #f9f7ff;
    background-color: #ffffff;
    /* color: white; */
  }
  body {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
    /* 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif; */

    font-family: 'Roboto', arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.02rem;
    /* user-select: none; */
  }

  img,
picture
/* ,svg  */ {
    max-width: 100%;
    display: block;
    user-select: none;
  }
  a {
    text-decoration: none !important;
    /* color: white; */
  }
  a:hover {
    /* color: rgb(200, 200, 200); */
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }

  input,
  textarea {
    border: none;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: inherit;
    outline: inherit;
  }
  input:focus,
  input:focus-visible,
  input:focus-within {
    border: none;
    outline: none;
  }

  .backdrop {
    position: fixed;
    /* z-index: 20; */
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .backdrop-enter-from,
  .backdrop-leave-to {
    opacity: 0;
  }

  .backdrop-enter-active {
    transition: all 0.3s ease-out;
  }

  .backdrop-leave-active {
    transition: all 0.2s ease-in;
  }

  .backdrop-enter-to,
  .backdrop-leave-from {
    opacity: 1;
  }

  .backdrop-subtle-1 {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(0.5px);
  }

  .fix-line-break {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
